/* Estilos generales */
body {
    background-color: #e5e0d7;
}

/* Estilos del logo */
.logo {
    width: 300%;
}

/* Estilos de la barra de navegación */
.navbar {
    list-style: none;
    padding: 0;
    margin: auto;
}

.bg-light {
    background-color: #535152 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.navbar-brand {
    max-width: 50px;
}

.nav-item a {
    font-family: 'Quicksand', sans-serif;
    color: #f5f1e8 !important;
    font-size: 15px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    display: inline-block;
    padding-right: 55px;
}

.nav a {
    color: rgb(255, 255, 255);
    transition: color 1s;
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

/* Estilos del carousel */
.containercarousel {
    max-width: 1920px;
    margin-bottom: 35px;
    margin-top: 80px;
}

.carousel-item img {
    width: 100%;
    border-radius: 0;
    filter: blur(2px);
}

.carousel-item h3 {
    font-size: 120px;
    font-family: 'Jost', sans-serif;
}

.carousel-item p {
    font-size: 20px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 5rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

/* Estilos de las cards */
.conteiner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    flex: 1;
    border-color: #ad9a6f;
    margin: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card-content {
    overflow: hidden;
}

.card-content img {
    width: 100%;
}

.card-title {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

/* Estilos de los botones */
.btn {
    color: rgb(212, 212, 212);
    background-color: #412e00;
}

.btn-outline-success {
    color: rgb(26, 34, 34);
    background-color: #ddb44c;
    border-color: #fffdfd;
    border-radius: 0;
}

.btn-outline-success:hover {
    background-color: #252016;
    border: #ebe8e8;
}

.form-control {
    border-radius: 0;
}

.botoncompra {
    background-color: #ddb44c;
    margin-left: 30%;
    border: 1px solid #351a1a;
    padding: 10px 20px;
}

.botoncompra:hover {
    background-color: #2b271f;
    color: #ebe8e8;
}

/* Estilos del footer con imagen */
.footer-con-imagen {
    background-image: url('../imagenes/footer/Banner\ web\ horizontal\ nueva\ colección\ ropa\ minimalista\ beige.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 20px;
}

.text-muted {
    color: #fafafa !important;
}

.nav a {
    color: rgb(255, 255, 255);
    transition: color 1s;
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.contenedorCarrito{
    text-align: center;
}
