body{
    background-color: #e5e0d7;
}
/* Estilos del logo*/
.logo {
    width: 300%;
}

/* Estilos de la barra de navegación */
.navbar {
    list-style: none;
    padding: 0;
    margin: auto;
}

.bg-light {
    background-color: #535152 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.navbar-brand {
    max-width: 50px;
}

.nav-item a {
    font-family: 'Quicksand', sans-serif;
    color: #f5f1e8 !important;
    font-size: 15px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    display: inline-block;
    padding-right: 55px;
}

.nav a {
    color: rgb(255, 255, 255);
    transition: color 1s;
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}
/*Estilos de los textos*/

.titular{

    margin-top: 7%;
    text-align: center;
    width: 100%;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Jost', sans-serif;
   
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentacion {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    align-items: center;
    max-width: 40%;
    font-weight: 600;
  }
  
  
  .imagen1 {
    transform: rotate(355deg);
    display: block;
    margin: 20px;
    max-width: 23%;
    margin-right: 6px;
  }
  
 
  .imagen2 {
    transform: rotate(355deg);
    display: block;
    margin: 20px;
    max-width: 23%;
    margin-right: 20px
  }

/*Estilos de los botones*/

.btn {
    color: rgb(212, 212, 212);
    background-color:#412e00;
}


.btn-outline-success {
    color:rgb(26, 34, 34);
    background-color: #ddb44c;
    border-color: #fffdfd;
    border-radius: 0;
}
.btn-outline-success:hover{
    background-color: #252016;
    border: #ebe8e8;
   
   
}




    

    .footer-con-imagen {
        background-image: url('../imagenes/footer/Banner\ web\ horizontal\ nueva\ colección\ ropa\ minimalista\ beige.png'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen de fondo */
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        color: white; 
        padding: 20px;
      }

      .text-muted {
        color: #fafafa!important;
    }

    .nav a{
        color: rgb(255, 255, 255); 
    transition: color 1s;
    
    display: inline-block;
   margin-left: 50px;
   text-decoration: none;
    }

    .nav a:hover{
        text-decoration: underline;
    }

        